[submodule "demia.rs"]
	path = demia.rs
	url = https://github.com/demia-protocol/demia.rs
	branch = adapter-with-encryption
[submodule "streams"]
	path = streams
	url = https://github.com/demia-protocol/streams
	branch = develop
[submodule "identity.rs"]
	path = identity.rs
	url = https://github.com/demia-protocol/identity.rs
	branch = modified-client-dep
[submodule "stronghold.rs"]
	path = stronghold.rs
	url = https://github.com/demia-protocol/stronghold.rs
	branch = dev
[submodule "demia-iota-sdk"]
	path = demia-iota-sdk
	url = https://github.com/Demia-Protocol/demia-iota-sdk
