[submodule "demia.rs"]
	path = demia.rs
	url = https://github.com/demia-protocol/demia.rs
	branch = demia/adapter-with-encryption
[submodule "streams"]
	path = streams
	url = https://github.com/demia-protocol/streams
	branch = mysql-dev
[submodule "identity.rs"]
	path = identity.rs
	url = https://github.com/demia-protocol/identity.rs
	branch = demia/modified-client-dep
[submodule "stronghold.rs"]
	path = stronghold.rs
	url = https://github.com/demia-protocol/stronghold.rs
	branch = dev
