[submodule "demia.rs"]
	path = demia.rs
	url = https://github.com/Demia-Protocol/demia.rs
	branch = demia-retriever
[submodule "streams"]
	path = streams
	url = https://github.com/Demia-Protocol/streams
	branch = iota-sdk
[submodule "identity.rs"]
	path = identity.rs
	url = https://github.com/Demia-Protocol/identity.rs
	branch = iota-sdk
[submodule "stronghold.rs"]
	path = stronghold.rs
	url = https://github.com/Demia-Protocol/stronghold.rs
	branch = iota-sdk
[submodule "iota-sdk"]
	path = iota-sdk
	url = https://github.com/Demia-Protocol/node-network-sdk
	branch = develop-demia
